Projet Séries Chronologiques : Ventes d'une boutique

Données : Ensemble de données de vente au détail d'un supermarché mondial pendant 4 ans. (Kaggle)

Importation des packages

In [29]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from IPython.display import display
import torch
from jyquickhelper import add_notebook_menu
add_notebook_menu()

Récupérons les données

In [30]:
df = pd.read_csv('data/data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9800 non-null   int64
 1   Order ID       9800 non-null   object
 2   Order Date     9800 non-null   object
 3   Ship Date      9800 non-null   object
 4   Ship Mode      9800 non-null   object
 5   Customer ID    9800 non-null   object
 6   Customer Name  9800 non-null   object
 7   Segment        9800 non-null   object
 8   Country        9800 non-null   object
 9   City           9800 non-null   object
 10  State          9800 non-null   object
 11  Postal Code    9789 non-null   float64
 12  Region         9800 non-null   object
 13  Product ID     9800 non-null   object
 14  Category       9800 non-null   object
 15  Sub-Category   9800 non-null   object
 16  Product Name   9800 non-null   object
 17  Sales          9800 non-null   float64
dtypes: float64(2), int64(1), object(15)
memory usage: 1.3+ MB

On souhaite représenter seulement les ventes au fil du temps.

In [31]:

df = df[['Order Date','Sales']]
df.rename(columns={'Order Date' : 'Date'},inplace = True)
df['Date'] = pd.to_datetime(df['Date'])
df.set_index(df.Date,inplace = True)
df.drop('Date',axis=1,inplace = True)
display(df)

               Sales
Date
2017-08-11  261.9600
2017-08-11  731.9400
2017-12-06   14.6200
2016-11-10  957.5775
2016-11-10   22.3680
...              ...
2017-05-21    3.7980
2016-12-01   10.3680
2016-12-01  235.1880
2016-12-01   26.3760
2016-12-01   10.3840

[9800 rows x 1 columns]

On retrouve 9800 observations.

Vérifions si nous avons des données manquantes dans notre série temporelle, si c'est le cas notre série temporelle ne fonctionnera pas.

In [32]:
df.isna().sum()

Sales    0
dtype: int64

Il n'y a pas de données manquantes.

In [33]:
df.describe()

              Sales
count   9800.000000
mean     230.769059
std      626.651875
min        0.444000
25%       17.248000
50%       54.490000
75%      210.605000
max    22638.480000

On constate que les ventes possèdent des valeurs aberrantes.

Comme les données sont collectées pour chaque commande, on calcule la moyenne des commandes par mois.

In [34]:

df = df.resample('M').mean()
display(df)

                 Sales
Date
2015-01-31  228.795667
2015-02-28  149.862905
2015-03-31  335.575727
2015-04-30  204.215008
2015-05-31  202.195137
2015-06-30  216.158034
2015-07-31  228.536091
2015-08-31  257.581141
2015-09-30  277.127730
2015-10-31  238.358255
2015-11-30  249.494017
2015-12-31  264.867961
2016-01-31  341.248679
2016-02-29  203.219137
2016-03-31  239.511650
2016-04-30  239.352003
2016-05-31  176.790566
2016-06-30  191.381934
2016-07-31  223.228984
2016-08-31  288.687824
2016-09-30  241.154970
2016-10-31  206.744373
2016-11-30  179.244247
2016-12-31  220.382847
2017-01-31  247.066130
2017-02-28  400.881885
2017-03-31  257.842847
2017-04-30  227.785204
2017-05-31  252.281135
2017-06-30  207.914894
2017-07-31  207.770861
2017-08-31  193.927180
2017-09-30  180.854695
2017-10-31  225.787697
2017-11-30  230.529677
2017-12-31  275.935930
2018-01-31  285.966943
2018-02-28  214.600146
2018-03-31  247.511999
2018-04-30  168.218736
2018-05-31  169.636707
2018-06-30  213.240216
2018-07-31  223.828944
2018-08-31  304.067677
2018-09-30  191.500953
2018-10-31  240.813096
2018-11-30  238.475989
2018-12-31  177.443102

In [35]:
y = df['Sales']
fig,ax = plt.subplot(figsize = (18,8))
ax.plot(y,marker = 'o',markersize='5',linestyle='-',label = )

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (Temp/ipykernel_21540/2954316256.py, line 3)